apiVersion: serving.kserve.io/v1beta1
kind: InferenceService
metadata:
  annotations:
    openshift.io/display-name: {{model_name}}
    serving.knative.openshift.io/enablePassthrough: "true"
    sidecar.istio.io/inject: "true"
    sidecar.istio.io/rewriteAppHTTPProbers: "true"
  labels:
    opendatahub.io/dashboard: "true"
    modelregistry.opendatahub.io/model-name: {{model_name}} # Not in used by model registry deployment page
    modelregistry.opendatahub.io/model-version-id: "{{model_version_id}}"
    modelregistry.opendatahub.io/registered-model-id: "{{model_id}}"
  name: {{model_name}}
spec:
  predictor:
    maxReplicas: 1
    minReplicas: 1
    model:
      modelFormat:
        name: onnx
        version: "1"
      name: ""
      resources:
        limits:
          cpu: "2"
          memory: 8Gi
        requests:
          cpu: "1"
          memory: 4Gi
      runtime: {{model_name}}
      storage:
        key: {{storage_key}}
        path: {{model_path}}