apiVersion: modelregistry.opendatahub.io/v1beta1
kind: ModelRegistry
metadata:
  annotations:
    openshift.io/description: ''
    openshift.io/display-name: ${MODEL_REGISTRY_NAME}
  name: ${MODEL_REGISTRY_NAME}
  namespace: rhoai-model-registries  
spec:
  grpc:
    port: 9090
  oauthProxy:
    port: 8443
    routePort: 443
    serviceRoute: enabled
  mysql:
    database: ${MYSQL_DATABASE}
    host: ${MYSQL_NAME}.rhoai-model-registries.svc.cluster.local
    passwordSecret:
      key: MYSQL_PASSWORD
      name: ${MYSQL_SECRET}
    port: 3306
    skipDBCreation: false
    username: ${MYSQL_USER}
  rest:    
    serviceRoute: enabled