kind: Secret
apiVersion: v1
metadata:
  name: aws-connection-my-storage
  labels:
    opendatahub.io/dashboard: 'true'
    opendatahub.io/managed: 'true'
  annotations:
    opendatahub.io/connection-type: s3
    opendatahub.io/connection-type-ref: s3
    openshift.io/display-name: My Storage
stringData:
  AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
  AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
  AWS_DEFAULT_REGION: us-east-1
  AWS_S3_BUCKET: my-storage
  AWS_ENDPOINT_URL: http://${AWS_S3_ENDPOINT}:${AWS_S3_PORT}
  AWS_S3_ENDPOINT: http://${AWS_S3_ENDPOINT}:${AWS_S3_PORT}
type: Opaque
---
kind: Secret
apiVersion: v1
metadata:
  name: aws-connection-pipeline-artifacts
  labels:
    opendatahub.io/dashboard: 'true'
    opendatahub.io/managed: 'true'
  annotations:
    opendatahub.io/connection-type: s3
    opendatahub.io/connection-type-ref: s3
    openshift.io/display-name: Pipeline Artifacts
stringData:
  AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
  AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
  AWS_DEFAULT_REGION: us-east-1
  AWS_S3_BUCKET: pipeline-artifacts
  AWS_ENDPOINT_URL: http://${AWS_S3_ENDPOINT}:${AWS_S3_PORT}
  AWS_S3_ENDPOINT: http://${AWS_S3_ENDPOINT}:${AWS_S3_PORT}
type: Opaque
